#root {
	--shadow-color: #451234;
}

.switch-mobile,
.mobile-links {
	display: none;
}

.links-t {
	align-items: flex-end;
}

.name-logo {
	z-index: 100;
}

.shadow-test {
	box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1),
		inset 0 0 15px 0px rgba(255, 255, 255, 0.2);
}

.shadow-es {
	box-shadow: 0px -8px 12px -2px #ff1100d7, 0px 5px 12px 0px #ff1100d7,
		5px 0px 10px 0px #eeff00, -5px 0px 10px 0px #eeff00;
}
.shadow-en {
	box-shadow: 0px -8px 12px -2px #0000ffcc, 0px 8px 12px -2px #ffffffcc,
		-8px 0px 12px -2px #ff0000cc, 8px 0px 12px -2px #ff0000cc;
}

@media (max-width: 700px) {
	.switch-mobile,
	.mobile-links {
		display: flex;
	}
	.mobile-links {
		flex-direction: column;
		align-content: flex-end;
		width: 100vw;
		position: absolute;
		right: 0;
		padding: 1.4rem 1.4rem;
		background: #111827;
		flex-wrap: wrap;
		top: -200px;
		transition: top 0.7s;
	}
	.switch-mobile {
		z-index: 100;
	}
	.showLinks {
		top: 60px;
	}

	.links-mobile {
		display: none;
	}
}
